<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sigma chi </string>
	<string>phi kappa psi </string>
	<string>stanfurd</string>
	<string>go bears </string>
	<string>uc berkeley </string>
	<string>i love ios</string>
</array>
</plist>
