<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sigma chi</string>
	<string>phi kappa psi</string>
	<string>stanfurd</string>
	<string>go bears</string>
	<string>uc berkeley</string>
	<string>i love ios</string>
	<string>run for your life</string>
	<string>subway is good</string>
	<string>smelt it delt it </string>
	<string>got milk</string>
	<string>can i hit your juul</string>
	<string>go greek</string>
	<string>peazy pay</string>
	<string>eecs boi</string>
	<string>boi if you dont</string>
	<string>stay hydrated</string>
	<string>bulk season</string>
	<string>gains for days</string>
	<string>be your own man</string>
	<string>mac and cheese</string>
	<string>spaghetti</string>
	<string>hip hop</string>
	<string>death metal</string>
	<string>whats your major</string>
	<string>where are you from</string>
	<string>thats not my president </string>
	<string>drip or drown</string>
	<string>elden likes edm</string>
</array>
</plist>
